body{
    background-image: url("../img/forest.png");    
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    animation: change 60s infinite ease-in-out;
}

@keyframes change {
    33%
    {
        background-image: url("../img/greenpond.png");
    }
    66%
    {
        background-image: url("../img/sunflower.png");
    }
   100%
    {
        background-image: url("../img/forest.png");
    }
}
.container{
    position: absolute;
    height: 60pc;
    width: 30pc;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 50px;
}
#uname {
    position: absolute;
    background-color: #fff;
    height: 50px;
    width: 70%;
    margin: auto;
    top: 40px;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 24px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#output {
    position: absolute;
    background-color: #fff;
    overflow: auto;
    height: 70%;
    width: 70%;
    margin: auto;
    top: 125px;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    word-wrap: break-word;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text {
    position: absolute;
    background-color: #fff;
    height: 80px;
    width: 65%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 28px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#refresh {
    position: absolute;
    background: transparent;
    margin: auto;
    bottom: 170px;
    right: 65px;
    border: none;
    cursor: pointer;
}

#send {
    position: absolute;
    background: transparent;
    border: none;
    margin: auto;
    bottom: 40px;
    right: 65px;
}

footer {
    position: absolute;
    bottom: 0;
}


